@use '../../styles/common.scss' as c;
.creative {
    @include c.default;
    padding-top: 40px;

    a {
        text-decoration: none;
        color: #007bff;;
    }

    .title {
        font-size: 36px;
        font-weight: 700;
        margin: 0;
    }
    .author {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
    .date {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }
    .content {
        margin-top: 20px;
    }
    h1 {
        
    }
}