@use '../../../styles/common.scss' as c;
.navbar {
    height: 80px;
    width: 100%;
    //background-color: #f8f9fb;
    background-color: #F3FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include c.default;
    position: sticky;
    top: 0;
    z-index: 99;

    .logo {
        width: min-content;
        margin-right: 30px;
        height: 100%;
        img {
            width: 65px;
            height: 100%;
        }
    }
    .anchors {
        display: flex;
        width: min-content;
        .item {
            position: relative;
            display: inline-block;
            width: min-content;
            margin-right: 10px;
            margin-left: 10px;
            color: #15141A;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            font-family: "Sarabun", sans-serif;
            cursor: pointer;
            transition: all .3s ease !important;
            border-bottom: 2px solid transparent;
            &:hover {
                color: c.$secondary;
                border-bottom: 2px solid c.$secondary;
            }
        }
        .dropdown {
            display: none;
            position: absolute;
            padding-top: 14px;
            .dropped {
                background-color: #fff;
                color: black !important;
                width: min-content;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                .drop {
                    padding: 12px 16px;
                    color: 'black';
                    font-size: 16px;
                    font-weight: 400;
                    border-bottom: 1px solid black;
                    transition: .2s ease-in-out;
                    &:hover {
                        /* color: c.$secondary; */
                        border-bottom: 2px solid c.$secondary;
                    }
                }
            }
          }
        .item:hover .dropdown {
            display: block;
        }
    }
    .pipe {
        height: 60%;
        width: 2px;
        background-color: #15141A;
        margin-left: 10px;
        margin-right: 10px;
    }
    .social {
        font-size: 24px; color: black !important; margin-right: 6px; margin-left: 6px;
        transition: .2s ease-in-out;
        &:hover {
            color: c.$secondary !important;
        }
    }

}