@use '../../styles/common.scss' as c;
.about {
    .banner {
        background-image: url("https://www.nyc.gov/html/dot/images/infrastructure/manhattan-bridge.jpg");
        background-size: cover;
        background-position-y: 30%;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        @include c.default;
        padding-top: 60px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    .brief {
        @include c.default;
        padding-top: 40px;
        .title {
            font-size: 36px;
            color: c.$primary;
            font-weight: 700;
        }
        .bio {

        }
        .quotes {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .steve {
                width: 55%;
            }
            .quotespacer {
                flex: 1;
            }
            .estee {
                width: 35%
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                .steve {
                    width: 100%;
                }
                .quotespacer {
                    flex: none;
                    width: 100%;
                    height: 16px;
                }
                .estee {
                    width: 100%;
                }
            }
        }
    }
}