@mixin default {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

@mixin minimal {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1250px) {
        @include default;
        max-width: none !important;
        margin: none !important;
    }
}

$primary: #dc3545;
$secondary: #007bff;