@use '../../../styles/common.scss' as c;
.mobile {
    height: 80px;
    width: 100%;
    //background-color: #f8f9fb;
    background-color: #F3FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include c.default;
    position: sticky;
    top: 0;
    z-index: 99;

    .logo {
        width: min-content;
        margin-right: 30px;
        height: 100%;
        img {
            width: 65px;
            height: 100%;
        }
    }

    .menu {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;
        .line {
            position: relative;
            width: 100%;
            height: 3px;
            background-color: #15141A;
            transition: all .3s ease;
        }
        &:hover {
            .line {
                background-color: c.$secondary;
                &:first-child {
                    width: 80%;
                }
                &:last-child {
                    width: 80%;
                }
            }
        }
    }
    .menuopen {
        .line {
            background-color: c.$secondary;
            &:first-child {
                width: 100%;
                transform: rotate(45deg);
                top: 10px;
            }
            &:nth-child(2) {
                width: 0%;
                display: none;
            }
            &:last-child {
                width: 100%;
                transform: rotate(-45deg);
                top: -10px;
            }
        }
    }
    .overlay {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 0%;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #272727;
        z-index: 10;
        transition: .3s ease-in-out;
        @include c.default;
        visibility: hidden;
        .seperator {
            width: 200px;
            height: 1px;
            background-color: #fff;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 10px;
            &:first-child {
                margin-top: 30px;
            }
            position: relative;
            display: inline-block;
            width: min-content;
            color: #fff;
            white-space: nowrap;
            font-size: 26px;
            font-weight: 600;
            font-family: "Sarabun", sans-serif;
            cursor: pointer;
            transition: all .3s ease !important;
            border-bottom: 2px solid transparent;
            &:hover {
                color: c.$secondary;
                border-bottom: 2px solid c.$secondary;
            }
        }
        .socials {
            font-size: 26px;
            a {margin-right: 26px;}
            margin-bottom: 20px;
        }
    }
    .opened {
        height: 100%;
        visibility: visible;
        overflow-y: scroll;
    }
}