@use '../../styles/common.scss' as c;
.history {
    .banner {
        background-image: url("https://www.liquidbarriersolutions.com/img/company-history-banner.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
        @include c.default;
        padding-top: 60px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    .brief {
        @include c.default;
        padding-top: 40px;
        .title {
            font-size: 36px;
            color: c.$primary;
            font-weight: 700;
        }
        .bio {

        }
    }
    .statistics {
        padding-top: 40px;
        @include c.default;
        .title {
            font-size: 36px;
            color: c.$primary;
            font-weight: 700;
        }
        .stats {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            .stat {
                width: 30%;
                .num {
                    font-size: 56px;
                    font-weight: 700;
                }
                .value {
    
                }
            }
        }
    }
}