@use '../styles/common.scss' as c;
.home {
    .banner {
        @include c.default;
        background-image: url("https://www.liquidbarriersolutions.com/assets/img/slider/write2.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
        padding-top: 60px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    .content {
        @media screen and (max-width: 1050px) {
            flex-direction: column;
            .redline {margin: auto; min-height: 1px; min-width: 70% !important; max-width: 70%; width: 70%;}
            .highlight {
                width: 70% !important; max-width: 70% !important; margin: 0 auto; margin-bottom: 30px; 
                .brief {height: initial !important;}
            }
        }
       /*  @include c.default; */
        padding-top: 40px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;align-items: stretch;
        flex: 1;
        .redline {
            max-width: 1px;
            min-width: 1px;
            background-color: c.$primary;
            flex: 1;
        }
        .highlight {
            /* border: 2px solid white; */
            /* padding: 30px; */
            padding-top: 30px;
            padding-right: 15px;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            width: 33%;
            max-width: 33%;
            .title {
                font-size:20px;
                color: c.$primary;
                font-weight: 600;
            }
            .brief {
                height: 100px;
            }
            .splash {
                margin-top: 20px;
                height: 200px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            button {

            }
        }
    }
}