@use '../../styles/common.scss' as c;

.services {
    .banner {
        background-image: url("https://www.liquidbarriersolutions.com/img/services-pages-banner.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
        @include c.default;
        padding-top: 60px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    .info {
        padding-top: 40px;
        @include c.default;
        padding-bottom: 40px;
        .title {
            font-size: 36px;
            color: c.$primary;
            font-weight: 700;
        }
        .subtitle {
            font-size: 20px;
            font-weight: 400;
            color: #fff;
        }
    }
    
    .content {
        @include c.default;
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)) !important;
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
        }
            
        .service {
            border: 2px solid white;
            padding: 30px;
            .title {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 22px;
            }
            .text {

            }
        }
    }
}