@use '../../styles/common.scss' as c;
.writing {
    .banner {
        background-image: url("https://www.liquidbarriersolutions.com/img/writting-samples-banner.jpg");
        background-size: cover;
        height: 300px;
        width: 100%;
        @include c.default;
        padding-top: 60px;
        font-size: 40px;
        line-height: 1;
        font-weight: 700;
    }
    .title {
        @include c.default;
        padding-top: 40px;
        padding-bottom: 40px;
        color: c.$primary;
        font-size: 36px;
        font-family: "Sarabun", sans-serif;
        font-weight: 600;
        margin: 0;
    }
}