.navbar {
    height: 80px;
    width: 100%;
    background-color: #f8f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 160px;
    padding-right: 160px;
    position: sticky;
    top: 0;

    .logo {
        width: min-content;
        padding-right: 15px;
        padding-left: 15px;
        height: 100%;
        img {
            width: 65px;
            height: 100%;
        }
    }
    .anchors {
        display: flex;
        width: min-content;
        .item {
            width: min-content;
            margin-right: 10px;
            margin-left: 10px;
            color: #15141A;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 600;
            font-family: "Sarabun", sans-serif;
            cursor: pointer;
            transition: all .3s ease !important;
            border-bottom: 2px solid transparent;
            &:hover {
                color: #0172d0;
                border-bottom: 2px solid #0172d0;
            }
        }
    }
    .pipe {
        height: 60%;
        width: 2px;
        background-color: #15141A;
        margin-left: 10px;
        margin-right: 10px;
    }
    .social {
        font-size: 24px; color: black !important; margin-right: 10px; margin-left: 10px;
    }

}