.standardnavbar {
    display: flex;
}
.mobilenavbar {
    display: none;
}

@media only screen and (max-width: 1020px) {
    .standardnavbar {
        display: none !important;
    }
    .mobilenavbar {
        display: flex !important;
    }
}

@media only screen and (min-width: 1020px) {
    .standardnavbar {
        display: flex !important;
    }
    .mobilenavbar {
        display: none !important;
    }
}